@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-primary px-6 rounded-full hover:bg-white transition-all focus:outline-none border-[1px] border-primary hover:border-grayish;
  }
  .btn-secondary {
    @apply rounded-full text-black hover:bg-primary transition-all
    focus:outline-none border-[1px] border-grayish hover:border-primary px-6;
  }
  .btn-blue {
    @apply bg-blueish py-4 px-11 flex justify-center items-center gap-4 rounded-full text-white hover:bg-blue-700 transition-all focus:outline-none;
  }
  .btn-white-red {
    @apply border-[1px] border-red-500 py-4 px-11 flex justify-center items-center gap-4 rounded-full text-black hover:bg-red-500 hover:text-white transition-all focus:outline-none;
  }
  .input-primary {
    @apply w-full h-12 rounded-full px-9 outline-none border-[1px] border-grayborder lg:text-sm lg:px-3 md:text-center;
  }
  .badge-red {
    @apply text-white bg-reddish px-3 py-2 rounded-full text-xs font-semibold
  }
  .modal-container {
    @apply fixed flex flex-col justify-start items-center w-[33%] lg:w-[70%] top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] z-[1000] p-9 pb-14 bg-white
  }
  .modal-backdrop {
    @apply fixed top-0 left-0 bottom-0 right-0 bg-black bg-opacity-70 z-[1000]
  }
  .color-badge {
    @apply relative w-11 h-11 border-[1px] border-grayborder flex justify-center items-center hover:scale-125 transition-all cursor-pointer
  }
  .main-container {
    @apply xxl:px-16 xl:px-14 lg:px-6 px-[160px] xxl:py-10 xl:py-8 py-[46px] flex w-full 
  }
  .page {
    @apply xxl:px-16 xl:px-14 lg:px-6 px-[160px] my-[107px] pt-[52px] w-full border-t-[1px] border-grayborder
  }
  .head-text {
    @apply text-2xl sm:mb-10 mb-16
  }
  .admin-dashboard-menu {
    @apply text-black border-grayborder border-x-[1px] border-b-[1px] py-4 px-5 hover:text-white hover:bg-black hover:border-black cursor-pointer
  }
  .user-dashboard-menu {
    @apply text-black border-grayborder border-x-[1px] border-b-[1px] py-4 px-5 hover:text-white hover:bg-primary hover:border-primary cursor-pointer
  }
  .admin-dashboard-layout {
    @apply relative min-h-[calc(100vh-160px)] mx-9 my-20 md:mx-4
  }
  .admin-dashboard-page {
    @apply ml-[330px] md:ml-0
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.thisRange .range-slider .range-slider__thumb{
  background: white;
  width: 20px;
  height: 20px;
  border: 2px solid black;
}

.thisRange .range-slider .range-slider__thumb:hover{
  background: black;
}

.thisRange .range-slider .range-slider__thumb:active{
  background: black;
}

.thisRange .range-slider .range-slider__range {
  background: black;
  height: 3px;
}

.thisRange .range-slider {
  height: 3px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 20px;
}
.lds-ellipsis div {
  position: absolute;
  top: 10px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 10px;
  animation: lds-ellipsis1 0.6s infinite;
}


@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}