@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-primary flex justify-center items-center h-12 px-6 rounded-full hover:bg-white hover:border-[1px] border-grayish transition-all;
  }
  .btn-secondary {
    @apply text-sm font-semibold p-1 rounded-[50px] text-black hover:bg-primary hover:text-white transition-all py-[15px] px-[32px]
  }
  .btn-blue {
    @apply bg-blueish py-4 px-11 flex justify-center items-center gap-4 rounded-full text-white hover:bg-blue-700 transition-all;
  }
  .btn-white-red {
    @apply border-[1px] border-red-500 py-4 px-11 flex justify-center items-center gap-4 rounded-full text-black hover:bg-red-500 hover:text-white transition-all;
  }
  .input-primary {
    @apply w-full h-12 rounded-full px-9 outline-none border-[1px] border-grayish lg:text-sm lg:px-3 md:text-center;
  }
  .badge-red {
    @apply text-white bg-reddish px-3 py-2 rounded-full text-xs font-semibold
  }
  .modal-container {
    @apply fixed flex flex-col justify-start items-center w-[33%] lg:w-[60%] md:w-[70%] h-[90%] top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] z-[1000] p-9
  }
  .modal-backdrop {
    @apply fixed top-0 left-0 bottom-0 right-0 bg-black bg-opacity-70 z-[1000]
  }
  .color-badge {
    @apply relative w-11 h-11 border-[1px] border-grayish flex justify-center items-center hover:scale-125 transition-all cursor-pointer
  }
  .main-container {
    @apply xxl:px-16 xl:px-14 lg:px-6 px-[160px] xxl:py-10 xl:py-8 py-[46px]  w-full
  }
  .page {
    @apply xxl:px-16 xl:px-14 lg:px-6 px-[160px] mt-[107px] pt-[52px] w-full border-t-[1px] border-grayborder
  }
  .head-text {
    @apply text-2xl sm:mb-10 mb-16
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* background-color: black; */
  /* font-family: 'Poppins', sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color:black
}

* {
  box-sizing: border-box;
}
